{% extends 'base.html' %}

{% block style %}
<style>
  button {
  background-color: #4CAF50;
  color: white;
  padding: 20px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 15%;
  position: relative;
  left: 15px;
  top: 0px;
}

  alert {
    width: 40%
  }
</style>
{% endblock %}

{% block content %}
  <div class="container">
    <form action="{{url_for ('signup')}}" method="POST">
      <div class="form-group">
        <div class="col-6">
          <label for="exampleInputEmail1">Email address</label>
          <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email" name="email">
          <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
        </div>
      </div>
      <div class="form-group">
        <div class="col-6">
          <label for="exampleInputPassword1">Password</label>
          <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password" name="password">
        </div>
      </div>
      <div class="alert alert-danger" role="alert">An account with the email '{{email}}' already exists. Please <a href="{{url_for ('login')}}">login</a>, or use a different email.</div>
      <button type="submit" class="btn btn-dark">Continue</button>
    </form>
  </div>

{% endblock %}
